/*
Template-wide CSS variables
*/

// Structure
// --------------------------------------------------

// Maximum container width for desktops
$default_container_width: 800px;

// Styles
// --------------------------------------------------

$main_font_stack: Helvetica,​ arial,​ freesans,​ sans-serif;
$header_font_stack: $main_font_stack;

$header_color: #333;
$alt1_color: #FFA500;
$alt2_color: #CD6A51;