/*
Template-wide CSS variables
*/

// Structure
// --------------------------------------------------

// Maximum container width for desktops
$default_container_width: 800px;

// Styles
// --------------------------------------------------

$main_font_stack: Helvetica,​ arial,​ freesans,​ sans-serif;
$header_font_stack: $main_font_stack;

$header_color: #333;
$color_background: #fcfcfc;
$color_main1: #F4F2F0;//#F5F5F5;
$color_main2: #E8E3DF;//#E6E6E6;
$color_alt1: #FFA500;
$color_alt2: #CD6A51;