@import 'normalize';
@import 'clearfix';
@import 'vars';
@import 'nav';

// General
// --------------------------------------------------

html, body {
  height: 100%;
}

html {
  font-size: 100%;
  font-family: $main_font_stack;
}

body {
  // Use an off-white body
  background-color: #fcfcfc;
}

a {
  color: $alt2_color;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header_font_stack;
  color: $header_color;
  margin-bottom: 5px;
  margin-top: 25px;
}


// Default container styles
.container {
  max-width: $default_container_width; 
  margin: 0 auto;
}

// Header
// --------------------------------------------------

header {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #E6E6E6;

  /* Main page heading */
  a#title {
    font-size: 1.5em;
    line-height: 60px;
    color: $alt1_color;

    &:hover { text-decoration: none; }
  }

  // See nav partial for the top nav bar
}

// Content styles
// --------------------------------------------------

img {
  border: none;
  vertical-align: middle;

  &.responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

// Inline code references and keyboard key elements
code, kbd {
  border-radius: 3px;
  background-color: #F5F5F5;
  padding: 2px 3px;
  white-space: nowrap;
}

blockquote {
  border-left: 5px solid #E6E6E6;
  margin-left: 0px;
  padding: 1px 0px;

  p {
    margin-left: 10px;
  }
}

.float-left { float: left; }
.float-right { float: right; }
.hidden { display: none; }


// An optional full-span image above the article heading
div#page-image {
  z-index: -1;
  position: relative;

  img {
    width: 100%;
    height: auto;
    // Don't shrink past this point on small devices
    min-height: 60px;
  }
}


// Main content
// --------------------------------------------------

div#main {
  margin-bottom: 40px;
}

article {
  p {
    line-height: 1.5;
  }

  // Special styles to h1 and small to create a heading plus metadata
  div#article-header {
    margin-bottom: 30px;

    h1 {
      margin-bottom: 0;
      padding-bottom: 0;
      line-height: 1;
    }

    ul.meta {
      padding-left: 0;
      margin-top: 5px;
    }

    ul.meta > li {
      color: #666;
      letter-spacing: 0.8px;
      font-size: 90%;
      list-style: none;
      padding-left: 16px;
      
      // Single line for large screens
      display: inline-block;
      margin-right: 9px;

      // Metadata types
      &.author { background: transparent url('../images/user_9x12.png') 0px 4px no-repeat; }
      &.datetime { background: transparent url('../images/clock_12x12.png') 0px 4px no-repeat; }
      &.tags { background: transparent url('../images/tag_12x12.png') 0px 4px no-repeat; }
      &.comments { background: transparent url('../images/comment_12x9.png') 0px 4px no-repeat; }

      abbr { border-bottom: none }
    }
  }
}


// Footer
// ---------------------------------------------------

footer {

  border-top: 5px solid #E6E6E6;
  background-color: #F5F5F5;

  h3 { margin-top: 10px; }

  // Both lists
  ul {
    margin: 0;
    padding-left: 20px;
  }

  ul > li {
    font-size: 1.1em;
    margin: 10px 0px;

    &:last-of-type { margin-bottom: 0; }
  }

  // Recent posts list
  div#recent-posts {
    width: 75%;
    padding-left: 10px;

    ul {
      list-style-type: square;
    }

    ul > li time {
      margin-right: 20px;
    }
  }

  // Social links or something
  div#links {
    padding-left: 10px;
    width: 20%;

    ul {
      list-style: none;
    
      a {
        padding-left: 25px;
        &.feed { background: transparent url('../images/feed_20x20.png') 0px 0px no-repeat; }
        &.github { background: transparent url('../images/github_20x20.png') 0px 0px no-repeat; }
        &.gplus { background: transparent url('../images/gplus_20x20.png') 0px 0px no-repeat; }
      }
    }
  }

  // Border between lists and bottom text
  .container:first-child {
    border-bottom: 2px solid #E6E6E6;
    padding-bottom: 10px;
  }

  p {
    text-align: center;
    margin: 0;
    margin: 10px 0px;
    color: #555;
  }

}
// Media queries
// -------------------------------------------------- 

// Large tablet
@media (max-width: 992px) {
  .container {
    width: 90%;
  }

  .hidden-tablet { display: none !important; }
}

// Phones and tablets
@media (max-width: 480px) {
  html {
    font-size: 110%;
  }
  .container {
    width: 100%;
  }

  header a#title {
    padding-left: 10px;
  }

  article {
    padding: 0 10px;

    div#article-header h1 {
      margin-top: 10px;
    }
  }

  // Recent post titles below timestamps
  div#recent-posts ul > li {
    font-size: 90%;
    time { display: block; }
  }

  // Don't float the footer lists
  footer {
    div#recent-posts, div#links { float: none; }
  }

  .hidden-tablet, .hidden-phone { display: none !important; }
}