@import 'normalize';
@import 'clearfix';
@import 'vars';
@import 'nav';

// General
// --------------------------------------------------

html, body {
  height: 100%;
}

html {
  font-size: 100%;
  font-family: $main_font_stack;
}

body {
  // Use an off-white body
  background-color: #fcfcfc;
}

a {
  color: $alt2_color;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header_font_stack;
  color: $header_color;
  margin-bottom: 5px;
}

// Media queries
// -------------------------------------------------- 

// Default container styles
.container {
  max-width: $default_container_width; 
  margin: 0 auto;
}

// Tablet
@media (max-width: 992px) {
  .container {
    width: 90%;
  }
}

// Large phones and tablets
@media (max-width: 480px) {
  html { font-size: 112.5%; }
  .container {
    width: 100%;
  }
  header, article, footer {
  	padding: 0 10px;
  }
}



// Header
// --------------------------------------------------

header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
  background-color: #eee;

  /* Main page heading */
  a#title {
    font-size: 1.5em;
    line-height: 60px;
    color: $alt1_color;

    &:hover { text-decoration: none; }
  }

  // See nav partial for the top nav bar
}

// Main content
// --------------------------------------------------

// An optional full-span image above the article heading
div#page-image {
  height: 320px;
  background: transparent url('../images/1.jpg') -1200px -1560px no-repeat;
  opacity: 0.7;
}


article {
  p {
    line-height: 1.5;
  }

  // Special styles to h1 and small to create a heading plus metadata
  div#article-header {

    h1 {
      margin-bottom: 0;
      padding-bottom: 0;
      line-height: 1;
    }

    small {
      color: #666;
      letter-spacing: 0.8px;

      abbr { border-bottom: none }
    }
  }
}

// Content styles
// --------------------------------------------------

// Inline code references and keyboard key elements
code, kbd {
  border-radius: 3px;
  background-color: #F5F5F5;
  padding: 2px 3px;
  white-space: nowrap;
}

// Block code
pre {
  background-color: #F5F5F5;
  padding: 5px 5px;
  word-wrap: break-word;
  word-break: break-all;
  border-left: 5px solid #E6E6E6;

  code {
    white-space: pre-wrap;
    font-family: Consolas, "Courier New", monospace;
  }
}
h1,h2,h3,h4{font-weight: bold;}
// Recent posts list
// ---------------------------------------------------

div#recent-posts {
  background-color: #F5F5F5;
  border-top: 2px solid #E6E6E6;
  padding-bottom: 20px;

  ul {
    margin: 0;
    padding-left: 20px;
  }

  ul > li {
    list-style-type: none;

    font-size: 1.2em;
    margin: 10px 0px;

    &:last-of-type { margin-bottom: 0; }

    time { margin-right: 20px; }
  }
}

// Footer
// ---------------------------------------------------

footer {
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: #fff;
  padding: 20px 0px;
  min-height: 50px;

  p {
  	text-align: center;
  	margin: 0;
  	color: #555;
  }
}